.shop {
  display: flex;
  flex-wrap: wrap;
  border-radius: 45px;
  justify-content: space-evenly;
  margin: 5vh;
}

img {
  width: 200px;
}

.photoProduit {
  border: 1px solid transparent;
  border-radius: 15px;
  overflow: hidden;

}

.etiquette {
  display: flex;
  flex-direction: column;
  border: black solid 1px;
  border-radius: 45px;
  padding: 5vh;
  margin: 5vh;
  align-items: center;
}


h1 {
  text-align: center;
}